<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sctdroid.app.textemoji">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".TextEmojiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".emoji.EmojiActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                android:value=".discovery.SearchableActivity" />

        </activity>
        <activity
            android:name=".me.MeActivity"
            android:parentActivityName=".emoji.EmojiActivity" />
        <activity
            android:name=".developer.DeveloperActivity"
            android:parentActivityName=".emoji.EmojiActivity" />
        <activity
            android:name=".share.ShareActivity"
            android:label="@string/build_emoji_and_share">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".slide.SlidePagerActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sctdroid.app.textemoji.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService"> <!-- 用户质量评估Service可以配置在主进程或者单独进程 -->
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="TD_APP_ID"
            android:value="EFC5499D4B1248E49181590E8A001C24" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${Your_channel_id}" />

        <activity
            android:name=".discovery.DiscoveryActivity"
            android:label="@string/title_activity_discovery"
            android:parentActivityName=".emoji.EmojiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sctdroid.app.textemoji.emoji.EmojiActivity" />
            <meta-data android:name="android.app.default_searchable"
                android:value=".discovery.SearchableActivity" />
        </activity>
        <activity android:name=".discovery.SearchableActivity"
            android:label="@string/title_activity_search_result">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
    </application>

</manifest>